.mask {
  z-index: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 100%, 0.9);
  mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 5px,
    black 50px
  );
  -webkit-mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 0.005px,
    black 50px
  );
}

/* Adjustments for different window sizes */
/* @media (max-width: 290px) {
  .mask {
    --mouse-y: calc(var(--mouse-y) - 30%);
  }
}

@media (min-width: 291px) and (max-width: 820px) {
  .mask {
    --mouse-y: calc(var(--mouse-y) - 10%);
  }
} */
