.mask {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 645px;
  background-color: hsla(0, 0%, 100%, 0.9);
  mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 5px,
    black 50px
  );
  -webkit-mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 0.005px,
    black 50px
  );
}

@media (max-width: 1152px) {
  .mask {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 80px;
    background-color: hsla(0, 0%, 100%, 0.9);
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 5px,
      black 50px
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 0.005px,
      black 50px
    );
  }
}

@media (min-width: 1400px) {
  .mask {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 70vh;
    background-color: hsla(0, 0%, 100%, 0.9);
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 5px,
      black 50px
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 0.005px,
      black 50px
    );
  }
}
