.mask {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 645px;
  background-color: hsla(0, 0%, 100%, 0.9);
  mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 5px,
    black 50px
  );
  -webkit-mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 0.005px,
    black 50px
  );
}

.section {
  position: relative;
  overflow: hidden;
}

/* .section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    transparent 100px,
    rgba(0, 0, 0, 0.9) 200px
  );
  pointer-events: none;
  display: none;
}

.section:hover::before {
  display: block;
} */

@media (max-width: 1152px) {
  .mask {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 80px;
    background-color: hsla(0, 0%, 100%, 0.9);
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 5px,
      black 50px
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 0.005px,
      black 50px
    );
  }
}

@media (min-width: 1400px) {
  .mask {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 70vh;
    background-color: hsla(0, 0%, 100%, 0.9);
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 5px,
      black 50px
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 0.005px,
      black 50px
    );
  }
}
