body {
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.login-container {
  background-image: url("/image/tes-background.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.input {
  margin-bottom: 15px;
}

.login-box {
  position: absolute;
  z-index: 5;
  flex: 1;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 35vw;
  width: 100%;
  top: 30%;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: calc(1.375rem + 0.7vw);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.manual-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d34f4f;
  color: white;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.manual-button:hover {
  background-color: #970c10;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(0, 0, 0.8, 0.1);
}

.otp-input {
  width: 100%;
  background: transparent;
  outline: none;
  border: 0;
  color: black;
  border-bottom: 1px solid black;
  padding: 10px 0;
  font-size: 16px;
  border-radius: 0px;
}
.otp-input:focus ~ label,
.otp-input:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.countdown-text {
  font-size: calc(0.6rem + 0.6vh);
  font-style: italic;
  color: grey;
}

.input_otp {
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Responsive styles */
@media (max-width: 920px) {
  .login-box {
    position: absolute;
    z-index: 5;
    flex: 1;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 35vw;
    width: 100%;
    top: 30%;
    min-width: 70vw;
  }
}
@media (max-width: 725px) {
  .login-box {
    min-width: 80vw;
  }
}

@media (max-width: 290px) {
  .login-box {
    min-width: 99vw;
  }
}

.userInputBox {
  position: relative;
  margin-bottom: 30px;
}

.userInputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: grey;
  pointer-events: none;
  transition: 0.5s;
  padding-left: 20px; /* changed */
}

.userInputBox input {
  width: 90%; /* changed */
  background: transparent;
  outline: none;
  border: 0;
  color: black;
  border-bottom: 1px solid black;
  padding: 10px 0;
  font-size: 16px;
  border-radius: 0px;
}

.userInputBox input:focus ~ label,
.userInputBox input:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: black;
  font-weight: bold;
}
