@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #404040;
  min-width: fit-content;
  font-family: "Poppins", sans-serif;
  padding-top: 60px;
}

.bgGrey {
  background-color: #404040;
}

.width100 {
  width: 100%;
}

.zIndex100 {
  z-index: 100;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  color: #404040;
}

p {
  font-size: 12px;
}

ul {
  list-style-type: disc;
  color: black;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: light;
}

.descDesc {
  width: 358px;
  height: 128px;
  text-align: left;
  font-size: 15px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  padding-top: 10px;
}

.descTitle {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 20px;
  padding-top: 20px;
  margin: auto;
  font-weight: bold;
  text-align: left;
}

.spesifikasiDisplay {
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: #404040;
}

.spesifikasiPoints {
  font-weight: 200;
  font-size: 18px;
  line-height: 3vh;
  color: #404040;
}

.descBox {
  width: 36.3% !important;
}

.paddingLeft {
  padding-left: 200px;
}

.positionDesc {
  position: absolute !important;
  top: 40% !important;
  right: 0 !important;
  transform: translateY(-50%) !important;
}

.positionDesc-smartTV {
  /* position: absolute !important;
  top: 30% !important;
  right: 0 !important;
  transform: translateX(-33%) !important; */
  position: absolute !important;
  top: 35% !important;
  right: 0 !important;
  transform: translateY(-40%) !important;
  translate: -120px;
}

.positionDescLeft {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  padding-left: 36px;
}

.section {
  display: flex;
  background-image: url("/image/bgStill.png");
  background-repeat: no-repeat;
  background-size: 200vh;
}

.subsection {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  z-index: 10;
}

.smallsection1,
.smallsection2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21%;
  z-index: 10;
}

.heightImage {
  height: 150px;
}

.heightImage2 {
  height: 180px;
}

.image1 {
  max-width: 150px;
}

.buttonDesc {
  color: #393939;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  min-width: 150px;
  margin-bottom: 2px;
}

.buy-now-button {
  padding-left: 22px;
}

.buy-button {
  border-radius: 20px;
  background-color: #d34f4f;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.manual-button {
  display: inline-block;
  /* padding: 4px 8px 4px 8px; */
  background-color: #d34f4f;
  color: white;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.manual-button:hover {
  background-color: #970c10;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(0, 0, 0.8, 0.1);
}

@media (min-width: 1020px) {
  .translateLeft2 {
    translate: 30px;
  }

  .smallsection1,
  .smallsection2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21%;
    padding-right: 5vw;
  }

  .formatImage {
    padding-left: 62px;
    translate: -100px;
  }

  .formatImage2 {
    translate: -30px;
  }
}

@media screen and (max-width: 1020px) {
  .formatImage {
    translate: -40px;
  }

  .formatImage2 {
    translate: -61px;
  }

  .translateLeft1 {
    translate: -1px;
  }

  .smallsection1,
  .smallsection2 {
    flex: 0 0 50%;
    transform: translateY(-20vh);
    padding-bottom: 8vw;
    align-items: center;
  }

  .section {
    display: flex;
    flex-wrap: wrap;
  }

  .subsection {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-right: 20vw;
  }
}

@media (max-width: 800px) {
  .smallsection1,
  .smallsection2 {
    flex: 0 0 100%;
    transform: translateY(-20vh);
    padding-bottom: 8vw;
    align-items: center;
  }
}

@media (min-width: 991.99px) {
  .spesifikasiDisplay {
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    padding: 5vh 7vw 1vh 0vb;
  }

  .spesifikasiPoints {
    font-weight: 350;
    font-size: 16px;
    padding: 10px 0px 20vh 4vw;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
  }

  .descBox {
    width: 36.3% !important;
    margin-right: 3%;
  }
}

@media (max-width: 992px) {
  .cut-img {
    object-fit: cover;
    width: 100%;
    height: 90vw !important;
    object-position: 2%;
  }

  .cut-img2 {
    object-fit: cover;
    width: 100%;
    height: 90vw !important;
    object-position: 85%;
  }

  .cut-img3 {
    object-fit: cover;
    width: 100%;
    height: 90vw !important;
    object-position: 93%;
  }

  .descTitle {
    display: flex;
    justify-content: center;
    align-items: left;
    margin-top: 20px;
    padding-top: 20px;
    margin: auto;
    color: white;
    text-align: center;
  }

  .descDesc {
    height: 50%;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    margin: auto;
    color: white;
    justify-content: center;
  }

  .contentItem {
    text-align: center;
  }

  .spesifikasiDisplay {
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    padding: 20vh 0px 1vh 32vb;
  }

  .spesifikasiPoints {
    font-weight: 200;
    font-size: 18px;
    padding: 10px 0px 20vh 32vb;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
  }

  .descBox {
    width: 100% !important;
    margin-right: 0%;
  }

  .positionDesc {
    position: static !important;
    top: 0% !important;
    right: 0 !important;
    transform: translateY(0%) !important;
  }

  .positionDesc-smartTV {
    position: static !important;
    top: 0% !important;
    right: 0 !important;
    transform: translateY(0%) !important;
    translate: 10px;
  }

  .positionDescLeft {
    position: static !important;
    top: 0% !important;
    right: 0 !important;
    transform: translateY(0%) !important;
    padding-right: 2vb;
  }
}

@media (min-width: 437px) and (max-width: 991.98px) {
  .section {
    display: flex;
    background-image: url("/image/bgStill.png");
    background-repeat: no-repeat;
    background-size: 400vh;
  }
  .contentItem {
    text-align: center;
  }

  .descBox {
    width: 100% !important;
    margin-right: 0%;
  }

  .spesifikasiDisplay {
    padding: 10px 0px 1vh 10vb;
  }

  .spesifikasiPoints {
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0px 20vh 8vb;
    font-family: "Montserrat", sans-serif;
    line-height: 35px;
  }

  .positionDesc {
    position: static !important;
    top: 0% !important;
    right: 0 !important;
    transform: translateY(0%) !important;
  }

  .positionDescLeft {
    position: static !important;
    top: 0% !important;
    right: 0 !important;
    transform: translateY(0%) !important;
    padding-left: 1vb;
    padding-right: 2vb;
  }

  .positionDesc-smartTV {
    position: static !important;
    top: 0% !important;
    right: 0 !important;
    transform: translateY(0%) !important;
    translate: 10px;
  }

  .descTitle {
    display: flex;
    justify-content: center;
    align-items: left;
    margin-top: 20px;
    padding-top: 20px;
    margin: auto;
    color: white;
    font-size: 30px;
    text-align: center;
  }

  .descTitle-right {
    display: flex;
    justify-content: center;
    align-items: left;
    margin-top: 20px;
    padding-top: 20px;
    margin: auto;
    color: white;
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 437px) and (min-width: 345px) {
  .section {
    display: flex;
    background-image: url("/image/bgStill.png");
    background-repeat: no-repeat;
    background-size: 400vh;
  }
  .heightImage {
    height: 120px;
    padding-left: 24px;
  }

  .heightImage2 {
    height: 150px;
    padding-left: 24px;
  }
  .spesifikasiDisplay {
    font-weight: 700;
    font-size: 1px;
    padding: 10px 0px 1vh 20%;
  }

  .spesifikasiPoints {
    font-weight: 400;
    font-size: 15px;
    padding: 0px 0px 20vh 10vw;
    font-family: "Montserrat", sans-serif;
    line-height: 25px;
    max-width: 40vb;
  }

  .positionDescLeft {
    position: static !important;
    top: 0% !important;
    right: 0 !important;
    transform: translateY(0%) !important;
    padding-left: 2vb;
    padding-right: 2vb;
  }
  .positionDesc-smartTV {
    position: static !important;
    top: 0% !important;
    right: 0 !important;
    transform: translateY(0%) !important;
    translate: 3px;
  }
}

/* Galaxy Fold */
@media (max-width: 344px) {
  .section {
    display: flex;
    background-image: url("/image/bgStill.png");
    background-repeat: no-repeat;
    background-size: 400vh;
  }
  .smallsection1,
  .smallsection2 {
    flex: 0 0 100%;
    transform: translateY(-10vh);
    padding-bottom: 8vw;
    align-items: center;
  }
  .heightImage {
    height: 80px;
    padding-left: 60px;
  }

  .heightImage2 {
    height: 100px;
    padding-left: 63px;
  }
  .spesifikasiDisplay {
    font-weight: 700;
    font-size: 1px;
    padding: 10px 0px 1vh 10%;
  }

  .spesifikasiPoints {
    font-weight: 400;
    font-size: 12px;
    padding: 0px 0px 20vh 2vb;
    font-family: "Montserrat", sans-serif;
    line-height: 22px;
    max-width: 40vb;
  }

  .logo-digitec {
    width: 75%;
    height: 75%;
  }

  .spesifikasiFold {
    font-size: 22px;
  }

  .positionDescLeft {
    position: static !important;
    top: 0% !important;
    right: 0 !important;
    transform: translateY(0%) !important;
    padding-left: 2vb;
    padding-right: 2vb;
  }

  .positionDesc-smartTV {
    position: static !important;
    top: 0% !important;
    right: 0 !important;
    transform: translateY(0%) !important;
    translate: 10px;
    padding-right: 10px;
  }

  .descTitle {
    display: flex;
    justify-content: center;
    align-items: left;
    margin-top: 20px;
    padding-top: 20px;
    margin: auto;
    color: white;
    font-size: 20px;
    text-align: center;
  }

  .descDesc {
    height: 50%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    margin: auto;
    color: white;
    justify-content: center;
  }
}
