@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&family=Work+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 14px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

h1.highlight {
  font-size: 24px;
  background: transparent;
  transition: 0.5s;
  font-weight: 500;
}

h1.highlight:hover {
  font-size: 30px;
  background: white;
  background: rgba(255, 255, 255, 0.7);
}

p.highlight {
  font-size: 14px;
  background: transparent;
  transition: 0.5s;
}

p.highlight:hover {
  font-size: 14px;
  background: white;
  background: rgba(255, 255, 255, 0.7);
}

:root {
  --mouse-x: 50%;
  --mouse-y: 100%;
}

::selection {
  color: black;
  background: white;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.desc-container {
  background-image: url("/image/tes-background.jpg");
  background-position: center center;
  background-size: cover;
  margin: 0;
  display: flex;
}

.mask {
  z-index: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 100%, 0.9);
  mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    black 150px
  );
  -webkit-mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 1px,
    black 150px
  );
}

h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.descTitle {
  display: flex;
  justify-content: center;
  align-items: left;
  margin-top: 20px;
  padding-top: 20vh;
}

.descDesc {
  height: 50%;
  width: 70%;
  padding-top: 20vh;
  padding-bottom: 100px;
  text-align: left;
  margin: auto;
}

ul {
  list-style-type: disc;
  color: white;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: light;
}

.text {
  position: absolute;
  z-index: 5;
  flex: 1;
  text-align: center;
}
/* For Galaxy Fold */
@media (max-width: 290px) {
  .carousel-extend {
    margin-top: 2rem;
    padding-top: 2rem;
  }

  .p {
    font-size: small;
  }

  .h1 {
    font-size: 20px;
  }

  .mask {
    z-index: 0;
    position: relative;
    width: 100vw;
    height: 200vh;
    background-color: hsla(0, 0%, 100%, 0.9);
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 40px,
      black 150px
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 1px,
      black 150px
    );
  }
}
@media (min-width: 820px) and (max-width: 1200px) {
  .mask {
    z-index: 0;
    position: relative;
    width: 100vw;
    height: 75vh;
    background-color: hsla(0, 0%, 100%, 0.9);
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 40px,
      black 150px
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 1px,
      black 150px
    );
  }
}

/* Big Laptops */
@media (min-width: 1210.98px) {
  .mask {
    z-index: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 100%, 0.9);
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 40px,
      black 150px
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 1px,
      black 150px
    );
  }
}
