@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.desc {
  font-size: calc(0.5rem + 0.5vw);
}

#goBackButton {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  transform: translateY(15vh);
  translate: 5vw;
  z-index: 100;
}
body {
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.login-container {
  background-image: url("/image/tes-background.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.input {
  margin-bottom: 15px;
}

.login-box {
  position: absolute;
  z-index: 5;
  flex: 1;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* max-width: 35vw; */
  max-width: 70vw;
  top: 30%;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: calc(1.375rem + 0.7vw);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.manual-button {
  display: inline-block;
  background-color: #d34f4f;
  color: white;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  padding-top: 5px;
}

.manual-button:hover {
  background-color: #970c10;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(0, 0, 0.8, 0.1);
}

.signup-text {
  color: #333;
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-size: 12px;
}

.signup-link {
  color: blue;
  text-align: center;
  justify-content: center;
  font: 12px;
}

/* Responsive styles */
@media (max-width: 725px) {
  .login-box {
    min-width: 80vw;
  }
}

@media (max-width: 295px) {
  .login-box {
    min-width: 99vw;
  }
}

.userInputBox {
  position: relative;
  margin-bottom: 30px;
}

.userInputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: grey;
  pointer-events: none;
  transition: 0.5s;
  padding-left: 20px; /* changed */
}

.userInputBox input {
  width: 90%; /* changed */
  background: transparent;
  outline: none;
  border: 0;
  color: black;
  border-bottom: 1px solid black;
  padding: 10px 0;
  font-size: 16px;
  border-radius: 0px;
}

.userInputBox input:focus ~ label,
.userInputBox input:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

p.userNumber {
  color: #f0f0f0;
  font-weight: 400;
  font-style: italic;
}

.manual-button {
  display: flex; /* Use flexbox to create a flexible layout */
  align-items: center; /* Align items vertically in the center */
  text-decoration: none; /* Remove default underline from the anchor */
  margin-bottom: 10px; /* Add some spacing between the buttons */
}

.manual-button-icon {
  font-size: 36px;
  padding-right: 16px;
}

.button-text {
  display: flex; /* Use flexbox to create a flexible layout */
  flex-direction: column; /* Arrange the text elements vertically */
}

/* Optional: Adjust font size and styling of the texts */
.button-text div {
  font-size: 18px;
  font-weight: bold;
}

.userNumber {
  font-size: 14px;
}
