<style>
  * {
    font-family: "Montserrat", sans-serif;
  }

  .footer {
    background-color: #ffffff;
    font-size: 12px;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    margin: 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  }
</style>

<footer class="footer" style="z-index: 5">
  <div class="container text-center p-3">
    <p
      class="mb-0"
      style="
        font-size: 10px;
        font-weight: 300;
        line-height: 15px;
        color: #393939;
      "
    >
      <% const currentYear = new Date().getFullYear() %> Hak Cipta &copy <%-
      currentYear %> DIGITEC | v1.0.0
      <!--•<a href="#" style="margin-right: 10px;">Privacy Policy</a> -->
      <!--<span class="separator"></span> -->
      <!-- <a href="#" style="margin-left: 10px;">User Agreement</a> -->
    </p>
  </div>
</footer>
