<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Home.css CSS-->
    <link rel="stylesheet" href="css/home.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZSP0RGVYCY"></script>
    <%- include('gtag') %>

    <!--FavIcon (website icon)-->
    <link rel="icon" type="image/png" href="image/digitecIcon.jpg" />
    <link rel="icon" href="image/digitecIcon.jpg">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon_2.png">
    <link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg?v=M44lzPylqQ" 
    color="#000000">
    

    <!--Animations js-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Digitec-tv Homepage</title>
  </head>
  <style>
  .carousel-extend {
    margin-top: 1rem;
    padding-top: 1rem;
  }
  @media (max-width: 290px) { /* For Galaxy Fold */
    .carousel-extend {
      margin-top: 3rem;
      padding-top: 3rem;
    }
  }
  @media (min-width: 300px) and (max-width: 450.98px) {
    .carousel-extend {
      margin-top: 2rem;
      padding-top: 2rem;
    }
  }

  .text {
    flex: 1;
    text-align: center;
  }

  </style>
  <body>
      <!--Start of navbar-->
      <%- include('navbarNew') %>
      <!--End of navbar-->

      <!--Start of Carousel-->
      <div>
        <div class="carousel-extend">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true" data-bs-pause="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="image/banner-RecoveredArtboard 1 copy 2.jpg" class="d-block w-100" alt="image1">
              </div>
              <div class="carousel-item">
                <img src="image/newSlide2.png" class="d-block w-100" alt="image2">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <!--End of Carousel-->

      <!-- Description Text Start-->
        <div class="text">
          <div class="descTitle">
            <h1>SMART TV</h1>
          </div>
          <div class="descDesc">
            <p> Digitec didesain khusus untuk mempermudah penggunaan
              dengan tampilan yang sederhana, kompak dan mudah dimengerti,
              memberikan pengalaman smart TV yang ringan, nyaman dan
              menyenangkan.
              <br><br>
              Dengan fitur Screen Casting Digitec dapat Tampilkan foto, video
              dan konten lainnya dari perangkat selular ke layar TV dengan
              aplikasi CAST yang tersedia di halaman muka.</p>
            </div>
          </div>
        </div>
        <!--Description Text End-->

        <!--Start of footer-->
        <%- include('footer') %>
        <!--End of footer-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>