<!doctype html>
<html lang="en">
  <head>
    <%- include('header') %>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
      <%- include('navbarNew') %>
      <!--Start of Carousel-->
      <div>
        <div class="carousel-extend">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true" data-bs-pause="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="image/banner-RecoveredArtboard 1 copy 2.jpg" class="d-block w-100" alt="image1">
              </div>
              <div class="carousel-item">
                <img src="image/newSlide2.png" class="d-block w-100" alt="image2">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <!--End of Carousel-->

      <!-- Description Text Start-->
      <div class="desc-container">
        <div class="text">
          <div class="descTitle">
            <h1>A Harmony of Japanese Art & Technology</h1>
          </div>
          <div class="descDesc">
            <p> 
              Jepang dikenal sebagai pusat seni yang kaya dan teknologi yang canggih. Terinspirasi dari negara sakura yang selalu mengedepankan kualitas produk yang unggul tanpa mengesampingkan keindahan estetika traditional yang menjadi ciri khasnya. 
              <br><br>
              DIGITEC hadir memberikan solusi produk elektronik yang terinspirasi dari harmoni seni yang indah dan teknologi yang canggih. Produk - produk yang dihadirkan menjawab kebutuhan hidup modern saat ini dengan desain yang minimalis dan elegan serta disematkan teknologi dengan fitur - fitur yang cangih dan fungsional 
              <br><br>
              Smart TV DIGITEC didesain khusus untuk mempermudah pengguna dengan tampilan yang menarik dan mudah dimengerti, memberikan pegalaman menonton yang menyenangkan. Menikmati hiburan seperti mengakses youtube, prime vidio sampai menampilkan foto ke layar televisi melalui aplikasi casting dapat dilakukan dengan mudah dengan mengakses tampilan muka Smart TV Digitec. 
            </p>
          </div>
        </div>
        <div class="mask"></div>
      </div>
      
      <!--Description Text End-->

      <%- include('footer') %>
      <%- include('scriptFooter') %>
      <script src="/javascript/cursor.js"></script>
  </body>
</html>