<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header') %>
    <link rel="stylesheet" href="css/loginNew.css" />
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>
  <body>
    <%- include('navbarNew') %>
    <div class="login-container">
      <div class="login-box">
        <h1>Masuk</h1>
        <form>
          <!-- <input type="text" placeholder="Nomor Telepon" class="input" /> -->
          <div class="userInputBox">
            <input type="text" id="usernameInputBox" required />
            <Label for="usernameInputBox">Nomor Telepon</Label>
          </div>
          <button type="submit" class="manual-button">Lanjut</button>
        </form>
      </div>
      <div class="mask"></div>
    </div>
    <%- include('footer') %> <%- include('scriptFooter') %>
    <script src="/javascript/cursorNormal.js"></script>
  </body>
</html>
