<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partial/header') %>
    <link rel="stylesheet" href="css/404.css">
    <link rel="stylesheet" href="css/mask.css" />
    <title>Page Not Found!</title>
</head>
<body>
    <%- include('./partial/navbar') %>
    <div class="container-fluid content-wrap text-center align-items-center d-flex justify-content-center" style="margin: auto;">
        <div class="text-404">
            <h1 class="font-title">
                404
            </p>
            <p class="font-desc" style="color: black;">Sorry Page Not Found!</p>
            <a href="/" class="to-home-button">Back To Home Page</a>
            
        </div>
    </div>
    <%- include('./partial/footer') %> <%- include('./partial/scriptFooter')
    %>
    <script src="/javascript/cursorHome.js"></script>
</body>
</html>