<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header') %>
    <link rel="stylesheet" href="css/404.css">
</head>
<body style="background-color: #404040;">
    <%- include('navbar') %>
    <div class="container-fluid content-wrap text-center align-items-center d-flex justify-content-center" style="margin: auto;">
        <div class="text-404">
            <h1 class="font-title">
                404
            </p>
            <p class="font-desc" style="color: white;">Sorry Page Not Found!</p>
            <a href="/" class="btn mt-3 border-0 to-home-button">Back To Home Page</a>
        </div>
    </div>
    <%- include('footer') %>
    <%- include('scriptFooter') %>
</body>
</html>