<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partial/header') %>
    <link rel="stylesheet" href="css/products.css" />
    <title>A Harmony of Japanese Art and Technology | Digitec</title>
  </head>
  <body>
    <%- include('./partial/navbar') %>
    <!--Start of pictures-->
    <img
      src="image/component2.png"
      class="img-fluid aos-init aos-animate"
      data-aos="fade-up"
      data-aos-duration="2000"
    />
    <div
      class="bgGrey row d-flex flex-lg-row position-relative flex-column m-0"
    >
      <div class="d-flex col-lg-12 order-1 p-0 d-block" id="imageStack">
        <img
          src="image/assetBaru3.jpg"
          alt="Smart TV"
          class="img-fluid cut-img width100"
          data-aos="fade-up"
          data-aos-duration="2000"
        />
      </div>
      <div class="col-lg-6 col-12 order-2">
        <div
          class="descBox positionDesc mx-auto paddingCont mx-lg-3"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          <h2 class="descTitle-products">Smart TV</h2>
          <p class="descDesc-product">
            Smart TV yang memungkinkan penggunanya dapat berinteraksi melalui
            internet serta memberikan kemudahan dalam mengakses aplikasi
            streaming populer, seperti Vidio, Prime Video, YouTube, WeTV, dan
            masih banyak lagi.
          </p>
        </div>
      </div>
    </div>
    <div class="row d-flex flex-lg-row position-relative flex-column m-0">
      <div class="d-flex col-lg-12 order1 p-0 d-block" id="imageStack">
        <img
          src="image/analogv2.jpg"
          alt="Image 1"
          class="img-fluid cut-img2 width100"
          data-aos="fade-up"
          data-aos-duration="2000"
        />
      </div>
      <div class="col-lg-6 col-12 order-2">
        <div
          class="descBox positionDescLeft mx-auto paddingCont mx-lg-3 zIndex100"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          <h2 class="descTitle-products descDesc-fold">
            Digital TV (Jernih, Bersih, Tanpa Bintik)
          </h2>
          <p class="descDesc-product descDesc-fold">
            Nikmati hiburan berkualitas tanpa gangguan signal melalui saluran TV
            digital (DVB-T2) dengan hasil gambar yang lebih bersih, jernih, dan
            tanpa bintik di segala kondisi cuaca.
          </p>
        </div>
      </div>
    </div>
    <div class="row d-flex flex-lg-row position-relative flex-column m-0">
      <div class="d-flex col-lg-12 order1 p-0 d-block" id="imageStack">
        <img
          src="image/assetBaru5.jpg"
          alt="Image 1"
          class="img-fluid cut-img width100"
          data-aos="fade-up"
          data-aos-duration="2000"
        />
      </div>
      <div class="col-lg-6 col-12 order-2">
        <div
          class="descBox positionDesc mx-auto paddingCont mx-lg-3 zIndex100"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          <h2 class="descTitle-products">Mirror View</h2>
          <p class="descDesc-product">
            Dapatkan pengalaman menakjubkan dengan menampilkan gambar dan video
            dari smartphone Anda ke layar TV yang lebih besar melalui aplikasi
            CAST pada halaman utama Smart TV DIGITEC.
          </p>
        </div>
      </div>
    </div>
    <div class="row d-flex flex-lg-row position-relative flex-column m-0">
      <div class="d-flex col-lg-12 order1 p-0 d-block" id="imageStack">
        <img
          src="image/assetBaru1.jpg"
          alt="Image 1"
          class="img-fluid cut-img3 width100"
          data-aos="fade-up"
          data-aos-duration="2000"
        />
      </div>
      <div class="col-lg-6 col-12 order-2">
        <div
          class="descBox positionDescLeft mx-auto paddingCont mx-lg-3 zIndex100"
          data-aos="fade-up"
          data-aos-duration="2500"
        >
          <h2 class="descTitle-products descDesc-fold">Browser Access</h2>
          <p class="descDesc-product descDesc-fold">
            Jelajahi dan akses situs-situs populer secara langsung melalui
            Browser yang terintegrasi pada Smart TV DIGITEC, memungkinkan Anda
            dapat menikmati hiburan dan berbagai informasi lainnya di layar yang
            lebih besar.
          </p>
        </div>
      </div>
    </div>

    <!--Start of description-->
    <div class="section">
      <div class="subsection">
        <div class="spesifikasiDisplay">
          <h1 class="spesifikasiFold">SPECIFICATION</h1>
        </div>
        <div class="spesifikasiPoints">
          <ul>
            <li>Smart TV Linux OS</li>
            <li>Youtube, Prime Video, Mola, Vidio</li>
            <li>HD (32 inch), Full HD (43 inch)</li>
            <li>WIFI, Ethernet</li>
            <li>Casting</li>
            <li>Web Browser</li>
            <li>Garansi 3 tahun</li>
            <li>Free Mola 12 bulan, Free Vidio Platinum 12 bulan</li>
          </ul>
        </div>
      </div>
      <div class="smallsection1">
        <div class="image1" style="padding-top: 25px">
          <img
            src="image/button1.png"
            alt="1stbutton"
            style="height: 75px; padding-left: 22px"
          />
          <p class="buttonDesc">DG 32C103</p>
          <div class="buy-now-button">
            <button class="manual-button">Beli Sekarang</button>
          </div>
        </div>
      </div>
      <div class="smallsection2">
        <div class="image1">
          <img src="image/button2.png" alt="2ndbutton" style="height: 100px" />
          <p class="buttonDesc">DG 43C983</p>
          <div class="buy-now-button">
            <button class="manual-button">Beli Sekarang</button>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partial/footer') %> <%- include('./partial/scriptFooter') %>
  </body>
</html>
