<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header') %>
    <link rel="stylesheet" href="css/product.css" />
  </head>
  <body>
    <%- include('navbarNew') %>
    <!--Start of pictures-->
    <img
      src="image/productPageFront.png"
      class="img-fluid aos-init aos-animate"
      data-aos="fade-up"
      data-aos-duration="2000"
    />
    <div class="bgGrey">
      <div class="container-fluid blurEffect p-0 m-0">
        <div class="row d-flex flex-lg-row position-relative flex-column m-0">
          <div class="d-flex col-lg-12 order-1 p-0 d-block" id="imageStack">
            <img
              src="image/assetBaru3.jpg"
              alt="Smart TV"
              class="img-fluid cut-img width100"
              data-aos="fade-up"
              data-aos-duration="2000"
            />
          </div>
          <div class="col-lg-6 col-12 order-2">
            <div
              class="descBox positionDesc mx-auto paddingCont mx-lg-3"
              data-aos="fade-up"
              data-aos-duration="2500"
            >
              <h2 class="descTitle-products">Smart TV</h2>
              <p class="descDesc-product">
                Smart TV yang mampu berinteraksi dengan menggunakan internet dan
                memungkinkan penggunanya untuk mengakses aplikasi seperti Vidio,
                Prime Video, YouTube, WeTV dan lainnya.
              </p>
            </div>
          </div>
        </div>
        <div class="row d-flex flex-lg-row position-relative flex-column m-0">
          <div class="d-flex col-lg-12 order1 p-0 d-block" id="imageStack">
            <img
              src="image/assetBaru2.jpg"
              alt="Image 1"
              class="img-fluid cut-img2 width100"
              data-aos="fade-up"
              data-aos-duration="2000"
            />
          </div>
          <div class="col-lg-6 col-12 order-2">
            <div
              class="descBox positionDescLeft mx-auto paddingCont mx-lg-3 zIndex100"
              data-aos="fade-up"
              data-aos-duration="2500"
            >
              <h2 class="descTitle-products descDesc-fold">
                Digital TV (DVB - T2)
              </h2>
              <p class="descDesc-product descDesc-fold">
                Nikmati tontonan di siaran digital dengan hasil gambar yang
                lebih bersih, jernih, tanpa bintik dengan TV Digital (DVB-T2)
                tanpa biaya langganan di Smart TV Lite.
              </p>
            </div>
          </div>
        </div>
        <div class="row d-flex flex-lg-row position-relative flex-column m-0">
          <div class="d-flex col-lg-12 order1 p-0 d-block" id="imageStack">
            <img
              src="image/assetBaru5.jpg"
              alt="Image 1"
              class="img-fluid cut-img width100"
              data-aos="fade-up"
              data-aos-duration="2000"
            />
          </div>
          <div class="col-lg-6 col-12 order-2">
            <div
              class="descBox positionDesc mx-auto paddingCont mx-lg-3 zIndex100"
              data-aos="fade-up"
              data-aos-duration="2500"
            >
              <h2 class="descTitle-products">Screen Casting</h2>
              <p class="descDesc-product">
                Tampilkan foto, video dan konten lainnya dari perangkat selular
                ke layar TV dengan aplikasi CAST yang tersedia di halaman muka.
              </p>
            </div>
          </div>
        </div>
        <div class="row d-flex flex-lg-row position-relative flex-column m-0">
          <div class="d-flex col-lg-12 order1 p-0 d-block" id="imageStack">
            <img
              src="image/assetBaru1.jpg"
              alt="Image 1"
              class="img-fluid cut-img3 width100"
              data-aos="fade-up"
              data-aos-duration="2000"
            />
          </div>
          <div class="col-lg-6 col-12 order-2">
            <div
              class="descBox positionDescLeft mx-auto paddingCont mx-lg-3 zIndex100"
              data-aos="fade-up"
              data-aos-duration="2500"
            >
              <h2 class="descTitle-products descDesc-fold">Exclusive Design</h2>
              <p class="descDesc-product descDesc-fold">
                Digitec didesain khusus untuk mempermudah penggunaan dengan
                tampilan yang sederhana, kompak dan mudah dimengerti, memberikan
                pengalaman smart TV yang ringan, nyaman dan menyenangkan.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of pictures-->
    <!--Start of description-->
    <div>
      <div class="spesifikasiDisplay">
        <h1 class="spesifikasiFold">SPECIFICATION</h1>
      </div>
      <div class="spesifikasiPoints">
        <ul>
          <li>Smart TV Linux OS</li>
          <li>Youtube, Prime Video, Mola, Vidio</li>
          <li>HD ( 32 inch), Full HD (43 inch)</li>
          <li>WIFI, Ethernet</li>
          <li>Casting</li>
          <li>Web Browser</li>
          <li>Garansi 3 tahun</li>
          <li>Free Mola 12 bulan , Free Vidio Platinum 12 bulan</li>
        </ul>
      </div>
    </div>
    <!--End of description-->
    <%- include('footer') %> <%- include('scriptFooter') %>
  </body>
</html>
