<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <!--Home.css CSS-->
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/products.css">

    <title>Digitec-tv Products Page</title>
  </head>
  <style>
    .descTitle-products{
    display: flex; 
    justify-content: center;
    align-items: left;
    margin-top: 20px;
    padding-top: 20px;
    margin: auto;
}    

  </style>
  <body>
    <!--Start of navbar-->
    <%- include('navbar') -%>
    <!--End of navbar-->

    <!--Start of pictures-->
    <img src="image/FirstImage.png" alt="Image 1" class="img-fluid">
    <img src="image/smartTV.png" alt="Image 2" class="img-fluid"> 
    <img src="image/digitalTV.png" alt="Image 2" class="img-fluid"> 
    <img src="image/screencasting.png" alt="Image 2" class="img-fluid"> 
    <img src="image/exclusiveDesign.png" alt="Image 2" class="img-fluid"> 
    <!--End of pictures-->
        
    <!--Start of description-->
    <div class="text">
        <div class="descTitle-products">
            <h1 >SPECIFICATIONS</h1>
        </div>
        <div class="descDesc">
            <ul style="margin-bottom: 10px;">
                    <li style="margin-bottom: 20px;">Smart TV Linux OS</li>
                    <li style="margin-bottom: 20px;"> Youtube, Prime Video, Mola, Vidio</li>
                    <li style="margin-bottom: 20px;">HD ( 32 inch), Full HD (43 inch)</li>
                    <li style="margin-bottom: 20px;">WIFI, Ethernet</li>
                    <li style="margin-bottom: 20px;">Casting</li>
                    <li style="margin-bottom: 20px;">Web Browser</li>
                    <li style="margin-bottom: 20px;">Garansi 3 tahun </li>
                    <li style="margin-bottom: 20px;">Free Mola 12 bulan , Free Vidio Platinum 12 bulan</li>
                </ul>
            </div>
        </div>
        <!--End of description-->

        <!--Start of footer-->
        <%- include('footer') -%>
        <!--End of footer-->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>