<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partial/header') %>
    <link rel="stylesheet" href="css/mask.css" />
    <link rel="stylesheet" href="css/signup.css" />
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!--jQuery-->
    <link href="css/datepicker/jquery.datepick.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="javascript/datepicker/jquery.plugin.min.js"></script>
    <script src="javascript/datepicker/jquery.datepick.js"></script>
    <script>
      $(function () {
        $("#popupDatepicker").datepick({
          dateFormat: "dd-M-yyyy",
          maxDate: "now",
        });

        $("#inlineDatepicker").datepick({
          dateFormat: "dd-M-yyyy",
          onSelect: showDate,
          maxDate: "now",
        });
      });

      function showDate(date) {
        alert("The date chosen is " + date);
      }
    </script>
  </head>
  <body>
    <%- include('./partial/navbar') %>
    <div class="login-container">
      <div class="login-box col-md-6 col-sm-12 col-xs-12 padLeft">
        <h1>Register Akun</h1>
        <form>
          <!--Nama Panjang-->
          <div class="row">
            <!-- Nama Depan -->
            <div class="form-group mb-3 col-md">
              <div class="userInputBox2">
                <input type="text" id="usernameInputBox" required />
                <Label for="usernameInputBox" class="paddingRight"
                  >Nama Depan</Label
                >
              </div>
            </div>

            <!-- Nama Belakang -->
            <div class="form-group mb-3 col-md">
              <div class="userInputBox2">
                <input
                  type="text"
                  id="usernameInputBox"
                  required
                  class="width76"
                />
                <Label
                  for="usernameInputBox"
                  class="paddingLeft2"
                  style="padding-left: 30px"
                  >Nama Belakang</Label
                >
              </div>
            </div>
          </div>

          <!--Email-->
          <div class="form-group mb-3 col-md">
            <div class="userInputBox">
              <input type="text" id="usernameInputBox" required />
              <Label for="usernameInputBox">Email</Label>
            </div>
          </div>

          <!--No Telepon-->
          <div class="form-group mb-3 col-md">
            <div class="userInputBox">
              <input type="tel" id="telephoneInputBox" required />
              <Label for="usernameInputBox">Nomor Telepon</Label>
            </div>
          </div>

          <!--NIK-->
          <div class="form-group mb-3 col-md">
            <div class="userInputBox">
              <input type="tel" id="telephoneInputBox" required />
              <Label for="usernameInputBox">NIK</Label>
            </div>
          </div>

          <!-- Gender -->
          <div class="form-group mb-3 col-md">
            <div class="select-wrapper">
              <select
                class="userInputBox3"
                id="registerGender"
                name="registerGender"
                required
                placeholder="Select Gender"
                style="top: 12px"
              >
                <option
                  id="defaultValue"
                  value="default"
                  selected
                  disabled
                ></option>
                <option id="Male" value="Male">Male</option>
                <option id="Female" value="Female">Female</option>
              </select>
              <label for="registerGender">Jenis Kelamin</label>
            </div>
          </div>

          <!--Pilih Tanggal Lahir-->
          <div class="form-group mb-3 col-md">
            <div class="userInputBox3 widthSmaller" style="padding-top: 6vh">
              <input
                type="text"
                id="popupDatepicker"
                class="form-control bg-white registerDOB"
                readonly
                placeholder="Pilih Tanggal Lahir"
              />
              <label for="registerGender">Tanggal Lahir</label>
              <img
                id="popupDatepicker"
                src="/image/icon-calendar.png"
                alt="calendarIcon"
                class="formatCalendar"
              />
            </div>
          </div>

          <!--Kata Sandi-->
          <div class="form-group mb-3 col-md">
            <div class="userInputBox">
              <input type="password" id="passwordInputBox" required />
              <Label for="passwordInputBox">Kata Sandi</Label>
              <i
                id="togglePassword"
                class="fa fa-eye-slash leftTrans"
                aria-hidden="true"
              ></i>
            </div>
          </div>

          <!--Tombol Sign up-->
          <button type="submit" class="manual-button">Sign Up</button>
          <p class="signup-text">
            Sudah memiliki akun?&nbsp;&nbsp;<a href="/login" class="signup-link"
              >LOG IN</a
            >
          </p>
        </form>
      </div>
      <div class="mask"></div>
    </div>
    <%- include('./partial/footer') %> <%- include('./partial/scriptFooter') %>
    <script src="/javascript/cursorNormal.js"></script>
    <script src="/javascript/eyeIcon.js"></script>
    <script>
      const inputBox = document.getElementById("telephoneInputBox");
      inputBox.addEventListener("input", (event) => {
        event.target.value = event.target.value.replace(/\D/g, "");
      });
    </script>
  </body>
</html>
