<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header') %>
    <link rel="stylesheet" href="css/support.css" />
    <link rel="stylesheet" href="css/mask.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="desc-container">
      <div class="text">
        <div class="descDesc">
          <h1 style="font-weight: bold">SEE MANUAL BOOK</h1>
          <p class="highlight">
            Silakan mengunduh manual book untuk mempelajari lebih dalam mengenai
            cara pengaplikasian produk DIGITEC.
          </p>
          <!-- Add the two buttons below the text -->
          <div class="button-container">
            <a href="link_to_manual_book_1.pdf" class="manual-button"
              >Manual Book PLD 43V8853</a
            >
            <a href="link_to_manual_book_2.pdf" class="manual-button"
              >Manual Book PLD 32AD1508</a
            >
          </div>
        </div>
      </div>
      <div class="mask"></div>
    </div>
    <%- include('footer') %> <%- include('scriptFooter') %>
    <script src="/javascript/cursorNormal.js"></script>
  </body>
</html>
