<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header') %>
    <link rel="stylesheet" href="css/support.css" />
  </head>
  <body>
    <%- include('navbarNew') %>
    <div class="desc-container">
      <div class="text">
        <div class="descDesc">
          <h1>SEE MANUAL BOOK</h1>
          <p class="highlight">
            Silakan mengunduh manual book untuk mempelajari lebih dalam mengenai
            cara pengaplikasian produk DIGITEC.
          </p>
        </div>
      </div>
      <div class="mask"></div>
    </div>
    <%- include('footer') %> <%- include('scriptFooter') %>
    <script src="/javascript/cursorNormal.js"></script>
  </body>
</html>
